* {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    cursor: default;
    background: transparent;
    color: inherit;
    cursor: default;
}

body {
    background: #000;
}
